    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="text-center">
               
                <a class="navbar-brand" >Prevención</a>
                <a class="navbar-brand" >Rehabilitación</a>
                <a class="navbar-brand" >Rendimiento</a>
                <a class="navbar-brand">Pagina en construcción</a>
                       
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-">
                <%= image_tag("logo-gustavo.jpg" , alt: "logo-gustavo" , width: '30%',class: "center-block")%> 
                
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

