    <!-- Navigation -->
     <div class="container">
        <div class="row">
            <div class="col-md-">
                <%= image_tag("logo-gustavo.jpg" , alt: "logo-gustavo" , width: '30%', class: "center-block")%>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <nav class="navbar-header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <br>
             <div class="servicios">
                    <div class="col-md-4">
                        <h2>Prevención </h2>
                    </div>
                    <div class="col-md-4">
                        <h2>Rehabilitacion </h2>
                    </div>
                    <div class="col-md-4">
                        <h2>Rendimiento </h2>
                    </div>
            </div>
        </div>
        <br>
        <br>
        <div class="col-md-4">
            <h2 class="construccion">Pagina en construcción</h2>
         </div>
         <div class="col-md-2">
            <%= link_to href: 'http://www.google.com/' do %>
                <%= image_tag("fb.png") %>
            <% end %>
         </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

