    <!-- Navigation -->
     <div class="container">
        <div class="row">
            <div class="col-md-">
                <%= image_tag("logo-gustavo.jpg" , alt: "logo-gustavo" , width: '30%',class: "center-block")%> 
                
            </div>
        </div>
        <!-- /.row -->
    </div>
    <nav class="center-block">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-1">
               
               <h3>Prevenci贸n</h3>
               <h3>Rehabilitaci贸n</h3>
               <h3>Rendimiento</h3>
               <h3>Pagina en construcci贸n</h3>
               <h1>Pagina en construcci贸n</h1>
        </div>
         
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
   
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

